#radio {
  border: 0px;
  width: 40px;
  height: 25px;
}

.question-window {
  max-width: 100%;
}

#submit-ans {
  margin-top: 10px;
  border-radius: 0.25rem;
}

.btn {
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  outline: none !important;
}
.container {
  margin-top: 5%;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btn {
  background: #db6ddb;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7 em;
  color: #999;
}

.update-mssg {
  text-align: center;
  margin: 20px auto;
}

p {
  opacity: 0.6;
}

.radio:focus {
  box-shadow: none;
}

.choice {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-start;
}
.choices {
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
}

.corr-ans {
  margin: 30px auto;
  opacity: 0.7;
  color: #43d9be;
}
